<sprk-icon-set></sprk-icon-set>
<main class="sprk-o-CenteredColumn" data-sprk-main>
  <sprk-highlight-board 
    heading="Hi, I'm Carlos!" 
    ctaText="About Me" 
    ctaHref=""
    ctaText2="Portfolio" 
    ctaHref2="#nogo" 
    imgSrc="../assets/carlos_headline.png" imgAlt=""
    idString="highlightboard-1">
  </sprk-highlight-board>
  <!-- <app-metrics></app-metrics> -->
  <app-about-me></app-about-me>
  <app-section></app-section>
  <body class="sprk-o-Box">
    <!-- <h1 class="sprk-b-TypeDisplayTwo sprk-b-PageTitle sprk-u-mtl">Hello, Spark! 👋</h1> -->
  </body>
  <app-footer></app-footer>
</main>