<div class="sprk-u-BackgroundColor--gray sprk-o-Box sprk-o-Box--large">
  <h1 sprkHeading variant="displayOne" class="sectionText sprk-u-TextAlign--center">
    My Timeline
  </h1>
  <div class="sprk-u-mvl">
    <ol class="sprk-c-Stepper" data-sprk-stepper="container" data-id="stepper-descriptions-1" role="tablist"
      aria-orientation="vertical">
      <li role="tab" class="sprk-c-Stepper__step sprk-c-Stepper__step--selected" data-sprk-stepper="step">
        <div class="
        sprk-c-Stepper__step-content 
        sprk-c-Stepper__step-content--has-description
      ">
          <span class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
            aria-controls="one-descriptions-target-1" id="step-descriptions-1" aria-selected="true">
            <span class="sprk-c-Stepper__step-icon"></span>
            <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
              Step One
            </h3>
          </span>

          <div class="sprk-c-Stepper__step-description" data-sprk-stepper="description" id="one-descriptions-target-1"
            aria-labelledby="step-descriptions-1" role="tabpanel">
            <p class="sprk-b-TypeBodyTwo">
              Step 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </li>

      <li role="tab" class="sprk-c-Stepper__step" data-sprk-stepper="step">
        <div class="
        sprk-c-Stepper__step-content 
        sprk-c-Stepper__step-content--has-description
      ">
          <span class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
            aria-controls="one-descriptions-target-2" id="one-step-descriptions-2">
            <span class="sprk-c-Stepper__step-icon"></span>
            <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
              Step Two
            </h3>
          </span>

          <div class="sprk-c-Stepper__step-description sprk-u-HideWhenJs" data-sprk-stepper="description"
            aria-labelledby="one-step-descriptions-2" id="one-descriptions-target-2" role="tabpanel">
            <p class="sprk-b-TypeBodyTwo">
              Step 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </li>

      <li role="tab" class="sprk-c-Stepper__step" data-sprk-stepper="step">
        <div class="
        sprk-c-Stepper__step-content 
        sprk-c-Stepper__step-content--has-description
      ">
          <span class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
            aria-controls="one-descriptions-target-3" id="one-step-descriptions-3">
            <span class="sprk-c-Stepper__step-icon"></span>
            <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
              Step Three
            </h3>
          </span>

          <div class="sprk-c-Stepper__step-description sprk-u-HideWhenJs" data-sprk-stepper="description"
            aria-labelledby="one-step-descriptions-3" id="one-descriptions-target-3" role="tabpanel">
            <p class="sprk-b-TypeBodyTwo">
              Step 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </li>

      <li role="tab" class="sprk-c-Stepper__step" data-sprk-stepper="step">
        <div class="
        sprk-c-Stepper__step-content 
        sprk-c-Stepper__step-content--has-description
      ">
          <span class="sprk-c-Stepper__step-header sprk-b-Link sprk-b-Link--plain"
            aria-controls="one-descriptions-target-4" id="one-step-descriptions-4">
            <span class="sprk-c-Stepper__step-icon"></span>
            <h3 class="sprk-c-Stepper__step-heading" data-sprk-stepper="heading">
              Step Four
            </h3>
          </span>

          <div class="sprk-c-Stepper__step-description sprk-u-HideWhenJs" data-sprk-stepper="description"
            aria-labelledby="one-step-descriptions-4" id="one-descriptions-target-4" role="tabpanel">
            <p class="sprk-b-TypeBodyTwo">
              Step 4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>